<<<<<<< HEAD
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>社内図書館　e-Library</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/print.css}" media="print">
<script src="js/openclose.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<style>
.menu1 a {background-position: -10px -10px;}
.menu2 a {background-position: -10px -130px;}
.menu3 a {background-position: -10px -250px;}
.menu4 a {background-position: -10px -370px;}
</style>
<![endif]-->
</head>


<body class="link">

<div id="container">

<!--PC用（801px以上端末）で表示させるブロック-->
<header class="pc">

	<h1 class="logo"><a th:href="@{/top}"><img src="images/icon-logo.png" alt="SAMPLE SITE"></a></h1>

	<!--PC用（801px以上端末）メニュー-->
	<nav id="menubar">
	<ul>
	<li class="menuimg menu3"><a th:href="@{/top}"><span>マイページ</span></a></li>
	<li class="menuimg menu4 current"><a th:href="@{/detail}"><span>蔵書一覧</span></a></li>
	</ul>
	</nav>

</header>
<!--/.pc-->

<!--小さな端末用（800px以下端末）で表示させるブロック-->
<header class="sh">
 
	<h1 class="logo"><a th:href="@{/top}"><img src="images/icon-logo.png" alt="SAMPLE SITE"></a></h1>

	<!--小さな端末用（800px以下端末）メニュー-->
	<div id="menubar-s">
	<nav>
	<ul>
	<li class="menuimg menu3"><a th:href="@{/top}"><span>マイページ</span></a></li>
	<li class="menuimg menu4 current"><a th:href="@{/detail}"><span>蔵書一覧</span></a></li>
	</ul>
	</nav>
	
	</div>
	<!--/#menubar-s-->

</header>
<!--/.sh-->

<div id="contents">

<div id="main">

<section id="pagetop">

<h2 class="title">Books<span>蔵書一覧</span></h2>

<table class="ta2" id="myTable">
<h2>蔵書検索結果一覧</h2>
<script src="js/addRow.js"></script>
<button value="" onclick="countRows()">検索結果合計</button>
<tr>
<th>書名</th>
<td>著者</td>
<td>出版社</td>
<td>価格（円・税込）</td>
<td>ダウンロード</td>
<td>プレビュー</td>
</tr>
<tr>
<th>e-servicescape</th>
<td>Seonjeong Lee</td>
<td>Emerald</td>
<td>1,200</td>
<td><a href="book/e-servicescape.pdf">ダウンロード</a></td>
<td><a href="book/e-servicescape.pdf">プレビュー</a></td>
</tr>
<tr>
<th>新・頑張る商店街77選</th>
<td>中小企業診断士</td>
<td>中小企業庁</td>
<td>5,000</td>
<td><a href="book/shoppingstreet.pdf">ダウンロード</a></td>
<td><a href="book/shoppingstreet.pdf">プレビュー</a></td>
</tr>
<tr>
<th>サービス・デザインの教科書</th>
<td>武山政直</td>
<td>NTT出版社</td>
<td>4,000</td>
<td><a href="book/servicedesign.pdf">ダウンロード</a></td>
<td><a href="book/servicedesign.pdf">プレビュー</a></td>
</tr>
<tr>
<th>従業員満足度</th>
<td>鈴木研一</td>
<td>日本管理会</td>
<td>2,800</td>
<td><a href="book/satisfaction.pdf">ダウンロード</a></td>
<td><a href="book/satisfaction.pdf">プレビュー</a></td>
</tr>
<tr>
<th>みんなが欲しかった簿記の教科書日商簿記3級</th>
<td>瀧澤ななみ</td>
<td>TAC出版</td>
<td>950</td>
<td><a href="#">ダウンロード</a></td>
<td><a href="#">プレビュー</a></td>
</tr>
<tr>
<th>RPAの威力 ~ロボットと共に生きる働き方改革~</th>
<td>安部慶喜</td>
<td>日経BP社</td>
<td>1,944</td>
<td><a href="#">ダウンロード</a></td>
<td><a href="#">プレビュー</a></td>
</tr>
<tr>
<th>どんどん話すための瞬間英作文トレーニング</th>
<td>森沢洋介</td>
<td>ベレ出版</td>
<td>1,944</td>
<td><a href="#">ダウンロード</a></td>
<td><a href="#">プレビュー</a></td>
</tr>
<tr>
<th>才能の正体</th>
<td>坪田信貴</td>
<td>幻冬舎</td>
<td>1,620</td>
<td><a href="#">ダウンロード</a></td>
<td><a href="#">プレビュー</a></td>
</tr>
<tr>
<th>スラスラわかるHTML&CSSのきほん 第2版</th>
<td>狩野祐東</td>
<td>SBクリエイティブ</td>
<td>2,138</td>
<td><a href="#">ダウンロード</a></td>
<td><a href="#">プレビュー</a></td>
</tr>
<tr>
<th>Excel 最強の教科書[完全版]</th>
<td>藤井直弥</td>
<td>SBクリエイティブ</td>
<td>1,706</td>
<td><a href="#">ダウンロード</a></td>
<td><a href="#">プレビュー</a></td>
</tr>
<tr>
<th>LinuxコマンドABCリファレンス</th>
<td>中島能和</td>
<td>翔泳社</td>
<td>2,618</td>
<td><a href="#">ダウンロード</a></td>
<td><a href="#">プレビュー</a></td>
</tr>
<tr>
<th>ミレニアムと私</th>
<td>エヴァ・ガブリエルソン</td>
<td>早川書房</td>
<td>1,760</td>
<td><a href="#">ダウンロード</a></td>
<td><a href="#">プレビュー</a></td>
</tr>
</table>

</section>

<footer>
<small>Copyright&copy; <a th:href="@{/top}">社内図書館　e-Library</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#main-->

</div>
<!--/#contents-->

</div>
<!--/#container-->

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#pagetop">↑</a></p>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>

<!--メニューの開閉処理条件設定　800px以下-->
<script>
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

</body>
</html>