<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>社内図書館 e-Library</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/print.css" media="print">
<script src="js/openclose.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<style>
.menu1 a {background-position: -10px -10px;}
.menu2 a {background-position: -10px -130px;}
.menu3 a {background-position: -10px -250px;}
.menu4 a {background-position: -10px -370px;}
</style>
<![endif]-->
</head>


<body class="link">

<div id="container">

<!--PC用（801px以上端末）で表示させるブロック-->
<header class="pc">

	<h1 class="logo"><a href="/top"><img src="images/icon-logo.png" alt="SAMPLE SITE"></a></h1>

	<!--PC用（801px以上端末）メニュー-->
	<nav id="menubar">
	<ul>
	<li class="menuimg menu3"><a href="top"><span>マイページ</span></a></li>
	<li class="menuimg menu4 current"><a href="detail"><span>蔵書一覧</span></a></li>
	</ul>
	</nav>

</header>
<!--/.pc-->

<!--小さな端末用（800px以下端末）で表示させるブロック-->
<header class="sh">

	<h1 class="logo"><a href="/top"><img src="images/icon-logo.png" alt="SAMPLE SITE"></a></h1>

	<!--小さな端末用（800px以下端末）メニュー-->
	<div id="menubar-s">
	<nav>
	<ul>
	<li class="menuimg menu3"><a href="top.html"><span>マイページ</span></a></li>
	<li class="menuimg menu4 current"><a href="detail.html"><span>蔵書一覧</span></a></li>
	</ul>
	</nav>
	
	</div>
	<!--/#menubar-s-->

</header>
<!--/.sh-->

<div id="contents">

<div id="main">

<section id="pagetop">

<h2 class="title">Books<span>蔵書一覧</span></h2>
<br>
<br>
<table class="ta2" id="myTable">
<captain><h2>蔵書検索結果一覧</h2></captain>
<script src="js/addRow.js"></script>
<button value="" onclick="countRows()">検索結果合計</button>
<tr>
<th bgcolor="#6495ed">書名</th>
<td bgcolor="#6495ed">著者</td>
<td bgcolor="#6495ed">出版社</td>
<td bgcolor="#6495ed">価格（円・税込）</td>
<td bgcolor="#6495ed">ダウンロード</td>
<td bgcolor="#6495ed">プレビュー</td>
</tr>
<tr>
<th>e-servicescape</th>
<td>Seonjeong Lee</td>
<td>Emerald</td>
<td>1,200</td>
<td><a href="book/e-servicescape.pdf">ダウンロード</a></td>
<td><a href="book/e-servicescape.pdf">プレビュー</a></td>
</tr>
<tr>
<th>Microsoft Office Specialist Microsoft Excel 2016 対策テキスト & 問題集</th>
<td>富士通エフ・オー・エム</td>
<td>富士通エフ・オー・エム</td>
<td>2,160</td>
<td><a href="#">ダウンロード</a></td>
<td><a href="#">プレビュー</a></td>
</tr>
<tr>
<th>Excel 最強の教科書[完全版]</th>
<td>藤井直弥</td>
<td>SBクリエイティブ</td>
<td>1,706</td>
<td><a href="#">ダウンロード</a></td>
<td><a href="#">プレビュー</a></td>
</tr>
<tr>
<th>たった1秒で仕事が片づくExcel自動化の教科書【増強完全版】</th>
<td>吉田拳</td>
<td>技術評論社</td>
<td>1,800</td>
<td><a href="#">ダウンロード</a></td>
<td><a href="#">プレビュー</a></td>
</tr>
</table>
<br>
<br>

<button type="button", value="button",　color：#4b3016, width:50px><a href="top">マイページに戻る</a></button>

</section>

<footer>
<small>Copyright&copy; <a href="/top">社内図書館 e-Library</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#main-->

</div>
<!--/#contents-->

</div>
<!--/#container-->

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#pagetop">↑</a></p>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>

<!--メニューの開閉処理条件設定　800px以下-->
<script>
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

</body>
=======
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>社内図書館　e-Library</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/print.css" media="print">
<script src="js/openclose.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<style>
.menu1 a {background-position: -10px -10px;}
.menu2 a {background-position: -10px -130px;}
.menu3 a {background-position: -10px -250px;}
.menu4 a {background-position: -10px -370px;}
</style>
<![endif]-->
</head>


<body class="link">

<div id="container">

<!--PC用（801px以上端末）で表示させるブロック-->
<header class="pc">

	<h1 class="logo"><a href="/top"><img src="images/icon-logo.png" alt="SAMPLE SITE"></a></h1>

	<!--PC用（801px以上端末）メニュー-->
	<nav id="menubar">
	<ul>
	<li class="menuimg menu3"><a th:href="@{/top}"><span>マイページ</span></a></li>
	<li class="menuimg menu4 current"><a th:href="@{/detail}"><span>蔵書一覧</span></a></li>
	</ul>
	</nav>

</header>
<!--/.pc-->

<!--小さな端末用（800px以下端末）で表示させるブロック-->
<header class="sh">

	<h1 class="logo"><a href="/top"><img src="images/icon-logo.png" alt="SAMPLE SITE"></a></h1>

	<!--小さな端末用（800px以下端末）メニュー-->
	<div id="menubar-s">
	<nav>
	<ul>
	<li class="menuimg menu3"><a th:href="@{/top}"><span>マイページ</span></a></li>
	<li class="menuimg menu4 current"><a th:href="@{/detail}"><span>蔵書一覧</span></a></li>
	</ul>
	</nav>
	
	</div>
	<!--/#menubar-s-->

</header>
<!--/.sh-->

<div id="contents">

<div id="main">

<section id="pagetop">

<h2 class="title">Books<span>蔵書一覧</span></h2>
<br>
<br>
<table class="ta2">
<captain><h2>蔵書検索結果一覧</h2></captain>
<tr>
<th bgcolor="#6495ed">書名</th>
<td bgcolor="#6495ed">著者</td>
<td bgcolor="#6495ed">出版社</td>
<td bgcolor="#6495ed">価格（円・税込）</td>
<td bgcolor="#6495ed">ダウンロード</td>
<td bgcolor="#6495ed">プレビュー</td>
</tr>
<tr>
<th>e-servicescape</th>
<td>Seonjeong Lee</td>
<td>Emerald</td>
<td>1,200</td>
<td><a href="book/e-servicescape.pdf">ダウンロード</a></td>
<td><a href="readerO">プレビュー</a></td>
</tr>
<tr>
<th>Microsoft Office Specialist Microsoft Excel 2016 対策テキスト& 問題集</th>
<td>富士通エフ・オー・エム</td>
<td>富士通エフ・オー・エム</td>
<td>2,160</td>
<td><a href="#">ダウンロード</a></td>
<td><a href="#">プレビュー</a></td>
</tr>
<tr>
<th>Excel 最強の教科書[完全版]</th>
<td>藤井直弥</td>
<td>SBクリエイティブ</td>
<td>1,706</td>
<td><a href="#">ダウンロード</a></td>
<td><a href="#">プレビュー</a></td>
</tr>
<tr>
<th>たった1秒で仕事が片づくExcel自動化の教科書【増強完全版】</th>
<td>吉田拳</td>
<td>技術評論社</td>
<td>1,800</td>
<td><a href="#">ダウンロード</a></td>
<td><a href="#">プレビュー</a></td>
</tr>
</table>
<br>
<br>

<button type="button", value="button",　color：#4b3016, width:50px, height：80px><a href="top">マイページに戻る</a></button>
<button type="button", value="button",　color：#4b3016, width:100px><a href="java">Java技能</a></button>
<button type="button", value="button",　color：#4b3016, width:50px><a href="marketing">Sales&Marketing</a></button>
<button type="button", value="button",　color：#4b3016, width:50px><a href="inspire">自己啓発</a></button>
</section>

<footer>
<small>Copyright&copy; <a href="/top">社内図書館　e-Library</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#main-->

</div>
<!--/#contents-->

</div>
<!--/#container-->

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#pagetop">↑</a></p>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>

<!--メニューの開閉処理条件設定　800px以下-->
<script>
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

</body>
>>>>>>> branch 'master' of https://gitlab.com/linting0821/3.git
</html>