<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>企業・ビジネスサイト向け 無料ホームページテンプレート tp_biz52</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link th:href="@{/css/style.css}" rel="stylesheet" href="css/style.css">
<link th:href="@{/css/print.css}" rel="stylesheet" href="css/print.css" media="print">
<script src="js/openclose.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<style>
.menu1 a {background-position: -10px -10px;}
.menu2 a {background-position: -10px -130px;}
.menu3 a {background-position: -10px -250px;}
.menu4 a {background-position: -10px -370px;}
.menu5 a {background-position: -10px -490px;}
</style>
<![endif]-->
</head>


<body class="company">

<div id="container">

<!--PC用（801px以上端末）で表示させるブロック-->
<header class="pc">

	<h1 class="logo"><a th:href="@{/}"><img src="images/logo.png" alt="SAMPLE SITE"></a></h1>

	<!--PC用（801px以上端末）メニュー-->
	<nav id="menubar">
	<ul>
	<li class="menuimg menu1"><a th:href="@{/}"><span>Home</span></a></li>
	<li class="menuimg menu2 current"><a th:href="@{/company}"><span>Company</span></a></li>
	<li class="menuimg menu3"><a th:href="@{/works}"><span>Works</span></a></li>
	<li class="menuimg menu4"><a th:href="@{/link}"><span>Links</span></a></li>
	<li class="menuimg menu5"><a th:href="@{/contact}"><span>Contact</span></a></li>
	</ul>
	</nav>
	<ul class="icon">
	<li><a href="#"><img src="images/icon_facebook.png" alt="Facebook"></a></li>
	<li><a href="#"><img src="images/icon_twitter.png" alt="Twitter"></a></li>
	<li><a href="#"><img src="images/icon_instagram.png" alt="Instagram"></a></li>
	<li><a href="#"><img src="images/icon_youtube.png" alt="YouTube"></a></li>
	</ul>

</header>
<!--/.pc-->

<!--小さな端末用（800px以下端末）で表示させるブロック-->
<header class="sh">

	<h1 class="logo"><a th:href="@{/}"><img src="images/logo.png" alt="SAMPLE SITE"></a></h1>

	<!--小さな端末用（800px以下端末）メニュー-->
	<div id="menubar-s">
	<nav>
	<ul>
	<li class="menuimg menu1"><a th:href="@{/}"><span>Home</span></a></li>
	<li class="menuimg menu2 current"><a th:href="@{/company}"><span>Company</span></a></li>
	<li class="menuimg menu3"><a th:href="@{/works}"><span>Works</span></a></li>
	<li class="menuimg menu4"><a th:href="@{/link}"><span>Links</span></a></li>
	<li class="menuimg menu5"><a th:href="@{/contact}"><span>Contact</span></a></li>
	</ul>
	</nav>
	<ul class="icon">
	<li><a href="#"><img src="images/icon_facebook.png" alt="Facebook"></a></li>
	<li><a href="#"><img src="images/icon_twitter.png" alt="Twitter"></a></li>
	<li><a href="#"><img src="images/icon_instagram.png" alt="Instagram"></a></li>
	<li><a href="#"><img src="images/icon_youtube.png" alt="YouTube"></a></li>
	</ul>
	
	</div>
	<!--/#menubar-s-->

</header>
<!--/.sh-->

<div id="contents">

<div id="main">

<span id="pagetop"></span>

<section class="box">

<h2 class="title">Company<span>会社概要</span></h2>

<table class="ta1">
<tr>
<th>見出し</th>
<td><a href="https://template-party.com/file/pickup_googlemap.html" target="_blank">GoogleMapで地図を貼り付けたい</a>人は解説がありますのでご覧下さい。</td>
</tr>
<tr>
<th>見出し</th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th>見出し</th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th>見出し</th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th>見出し</th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th>見出し</th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th>見出し</th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
</table>

<h3>このsectionブロックにだけ、class=&quot;box&quot;を指定しています。</h3>
<p>boxを指定すると背景にボックスがつきます。背景画像と上のコンテンツとのコントラスト弱くてみづらい場合などに使って下さい。</p>

</section>

<section>

<h2>テンプレートのご利用前に必ずお読み下さい</h2>

<h3>利用規約のご案内</h3>
<p>このテンプレートは、<a href="https://template-party.com/">Template Party</a>にて無料配布している『企業・ビジネスサイト向け 無料ホームページテンプレート tp_biz52』です。必ずダウンロード先のサイトの<a href="https://template-party.com/read.html">利用規約</a>をご一読の上でご利用下さい。</p>
<p><strong class="color1">■HP最下部の著作表示『Web Design:Template-Party』は無断で削除しないで下さい。</strong><br>
わざと見えなく加工する事も禁止です。</p>
<p><strong class="color1">■下部の著作を外したい場合は</strong><br>
<a href="https://template-party.com/">Template-Party</a>の<a href="https://template-party.com/member.html">ライセンス契約</a>を行う事でHP下部の著作を外す事ができます。</p>

<h3>当テンプレートにはお問い合わせフォーム（自動フォーム：試用版）がセットされています</h3>
<p><a href="contact.html">contact.html</a>と同じ３項目のお問い合わせフォームを簡単に使えるようにセットしています。</p>
<p><strong class="color1">■自動フォームを使う場合（※編集に入る前にご確認下さい）</strong><br>
あなたのメールアドレス設定と、簡単な編集だけで使えます。<a href="http://template-party.com/file/formgen_manual_set2.html" target="_blank">詳しくはこちらのマニュアルをご覧下さい。</a></p>
<p><strong class="color1">■自動フォームを使わない場合</strong><br>
テンプレートに梱包されている「form.html」「confirm.html」「finish.html」の3枚のファイルを削除して下さい。</p>

<h3>メニューなどの開閉ブロック（openclose.js）について</h3>
<p>当テンプレートの開閉ブロックパーツは<a href="http://www.crytus.co.jp/">有限会社クリタス様</a>提供のプログラムを使用しています。openclose.jsファイルは改変せずにご利用下さい。<br>
また、当サイトのテンプレート以外に使いたいなど、「プログラムのみ」を使う場合は<a href="https://template-party.com/free_program/openclose_license.html">こちらの規約</a>をお守り下さい。</p>

</section>

<section>

<h2>当テンプレートについて</h2>

<h3>当テンプレートはレスポンシブWEBデザインです</h3>
<p>パソコン、スマホ、タブレットなど、各端末サイズでレイアウトが自動で切り替わります。<br>
古いブラウザで閲覧した場合にCSSの一部が適用されない（角を丸くする加工やグラデーションなどの加工等）のでご注意下さい。</p>

<h3>各デバイスごとのレイアウトチェックは</h3>
<p>最終的なチェックは実際のタブレットやスマホで行うのがおすすめですが、臨時チェックは最新のブラウザで行う事もできます。ブラウザの幅を狭くしていくと、各端末サイズに合わせたレイアウトになります。</p>
<p>注意：cssはリアルタイムで反映されますが、javascript(js)はブラウザを再読み込みさせないと反映されないので、レイアウトが切り替わったらブラウザを再読み込みさせて下さい。javascriptは小さい端末用の開閉ブロックなどに使われています。</p>

<h3>各デバイス用のスタイル変更は</h3>
<p>cssフォルダの各cssファイルで行って下さい。詳しい説明も入っています。<br>
メインのスタイルはstyle.cssになります。<br>
前半はパソコン環境を含めた全端末の共通設定になります。中盤以降、各端末向けのスタイルが追加設定されています。<br>
media=&quot; (～)&quot;の「～」部分でcssを切り替えるディスプレイのサイズを設定しています。ここは必要に応じて変更も可能です。</p>

<h3>小さい端末（※幅800px以下）の環境でのみ</h3>
<p>メインメニューが折りたたみ式（３本バーアイコン化）になります。バーのスタイル設定もstyle.cssで行う事ができます。</p>

<h3>画像ベースは</h3>
<p>「base」フォルダに入っていますのでご自由にご活用下さい。<br>
写真の元素材を当社運営の<a href="https://photo-chips.com/">PHOTO-CHIPS</a>や<a href="https://decoruto.com/">DECORUTO</a>で配布している場合もございます。</p>

</section>

<section>

<h2>当テンプレートの使い方</h2>

<h3>初心者向けマニュアル公開中</h3>
<p>画像加工やテンプレートの編集方法、無料サーバーを使ってサイトを公開するなど動画をまじえてわかりやすく解説しています。<br>
<a href="https://template-party.com/file/" target="_blank">初心者向けマニュアルはこちら。</a></p>

<h3>※注意：当テンプレートにはメインメニューを含んだheaderブロックが「２箇所」入っています</h3>
<p>大きな端末向けは、<br>
<span class="look">&lt;header class=&quot;pc&quot;&gt;</span><br>
のブロックで、小さな端末向けは、<br>
<span class="look">&lt;header class=&quot;sh&quot;&gt;</span><br>
のブロックです。</p>
<p>プレビュー確認ならブラウザ幅を変更することでそれぞれ切り替えて確認できますが、HP編集ソフトをご利用の場合は、小さな端末向けのheaderは見れない場合があるのでその際はhtml側で確認して下さい。<br>
headerのclass指定とnavのid指定が異なるだけで、その他はどちらの端末サイズも全く同じhtmlタグです。</p>

<h3>titleタグ、copyright、metaタグ、他の設定</h3>
<p><strong class="color1">titleタグの設定はとても重要です。念入りにワードを選んで適切に入力しましょう。</strong><br>
まず、htmlソースが見れる状態にして、<br>
<span class="look">&lt;title&gt;企業・ビジネスサイト向け 無料ホームページテンプレート tp_biz52&lt;/title&gt;</span><br>
を編集しましょう。<br>
あなたのホームページ名が「SAMPLE SITE」だとすれば、<br>
<span class="look">&lt;title&gt;SAMPLE SITE&lt;/title&gt;</span><br>
とすればＯＫです。SEO対策もするなら冒頭に重要なワードを入れておきましょう。</p>
<p><strong class="color1">copyrightを変更しましょう。</strong><br>
続いてhtmlの下の方にある、<br>
<span class="look">Copyright&copy; SAMPLE SITE All Rights Reserved.</span><br>
の部分もあなたのサイト名に変更します。</p>
<p><strong class="color1">metaタグを変更しましょう。</strong><br>
htmlソースが見える状態にしてmetaタグを変更しましょう。</p>
<p>ソースの上の方に、<br>
<span class="look">content=&quot;ここにサイト説明を入れます&quot;</span><br>
という部分がありますので、テキストをサイトの説明文に入れ替えます。検索結果の文面に使われる場合もありますので、見た人が来訪したくなるような説明文を簡潔に書きましょう。</p>
<p>続いて、その下の行の<br>
<span class="look">content=&quot;キーワード１,キーワード２,～～～&quot;</span><br>
も設定します。ここはサイトに関係のあるキーワードを入れる箇所です。10個前後ぐらいあれば充分です。キーワード間はカンマ「,」で区切ります。</p>
<p><strong class="color1">h1ロゴのaltタグも変更しましょう。</strong><br>
  html側に、<br>
<span class="look">alt=&quot;SAMPLE SITE&quot;</span><br>
となっている箇所があるので、この部分もあなたのサイト名に変更しましょう。</p>

<h3>ロゴ画像について</h3>
<p>文字なしの土台画像がbaseフォルダに入っていますのでそれにサイト名をのせてimagesフォルダに上書きして下さい。<br>
同じロゴ画像をトップページのスライドショーのスタート時にも使っています。入れ替えたいなら、cssフォルダのslide.cssの「.slide0」のブロックの画像ファイルを変更して下さい。</p>

<h3>左メニューについて</h3>
<p>マウスオン(hover)時にブロックが広がります。また、ブラウザの高さよりコンテンツの高さが大きい場合にスクロールバーが出るようになっています。<br>
メニュー用のアイコン画像は、background-sizeがきかないIE8以下で表示が崩れるので、各htmlのhead内に設定しています。cssを変更する際はこちらも確認して下さい。IE8以下を考慮しない場合はタグごと削除してもらってもかまいません。</p>

<h3>上部の大見出しの英語表記に使っているフォントについて</h3>
<p>cssフォルダのstyle.cssの冒頭でGoogle Fontsを読み込んでそれを指定しています。英語専用フォントです。<br>
フォントサイズなどのスタイルは「#main h2.title」で指定しています。<br>
<a href="https://template-party.com/tips/tips13.html" target="_blank">Google Fontsの詳細はこちら。</a></p>

<h3>トップページのスライドショーについて</h3>
<p>cssフォルダのslide.cssで設定されています。</p>
<p><strong class="color1">css3に対応した環境(IEなら10以上)でしか動作しません。</strong><br>
古いブラウザでは固定画像になります。<br>
固定画像の指定は、index.htmlのhead内の、<br>
<span class="look">.slide0,.slide1,.slide2,.slide3 {background: url(images/1.jpg) no-repeat center center;}</span><br>
部分です。<br>
このimages/1.jpgが表示されます。古いブラウザ専用に画像を用意する場合は、この画像ファイル名を変更して下さい。</p>
<p><strong class="color1">オープニングカラーを変更したい場合</strong><br>
ページを開いた際に最初に見える色を変更したい場合は、cssフォルダのslice.cssの「.slide0」のbackgroundの色を変更して下さい。</p>
<p><strong class="color1">画像を入れ替えたい場合</strong><br>
「1.jpg」、「2.jpg」、「3.jpg」の3枚のjpg画像を用意してimagesフォルダに上書きして下さい。<br>
拡張子が「jpeg」や「JPG」と少し違った場合にうまく表示できない可能性があるので「jpg」で統一して下さい。画像を「jpg」にできない場合はcssフォルダのslide.css側の拡張子指定を変更して下さい。<br>
画像の容量はできるだけしぼって下さい。大きいと初動がガタつきます。<br>
画像サイズについては、cssの背景画像（cover）なので適当で構いません。ただ、縦端末、横端末で画像がトリミングされますので、切れてもおかしくない画像を用意して下さい。<br>
最初に出てくるロゴの指定はcssフォルダのslide.cssの「.slide0 {・・・」で行なっています。必要に応じて読み込み先を変更して下さい。</p>
<p><strong class="color1">固定画像にしたい場合</strong><br>
slide.cssの<br>
<span class="look">/*CSSスライドショーアニメーション設定</span><br>
のブロックを全て削除。<br>
あとはhtml側から残したい画像の行以外を削除。index.htmlの下の方にタグがあります。</p>
<p><strong class="color1">速度や枚数などの調整</strong><br>
cssフォルダのslide.cssで行って下さい。解説も入っています。<br>
<a href="https://template-party.com/tips/slide_css.html">スライドショーに関する詳しい使い方はこちら。</a></p>

<h3>リストタグを使いたい場合の注意点</h3>
<p>そのままではリストマークが出ませんので、リストタグを使う場合は以下のようなスタイルを追加して下さい。</p>
<p>&lt;ul <span class="color1">class=&quot;disc&quot;</span>&gt;<br>
&lt;li&gt;リストタグ&lt;/li&gt;<br>
&lt;li&gt;リストタグ&lt;/li&gt;<br>
&lt;li&gt;リストタグ&lt;/li&gt;<br>
&lt;/ul&gt;
</p>
<p>↓出力例</p>
<ul class="disc">
<li>リストタグ</li>
<li>リストタグ</li>
<li>リストタグ</li>
</ul>
<ol>
<li>olタグはそのままででます。</li>
<li>olタグはそのままででます。</li>
<li>olタグはそのままででます。</li>
<li>olタグはそのままででます。</li>
</ol>

<h3>現在ページ表示中のメニューについて</h3>
<p>当ページでいえばメニューの「Company」に色がついていますが、その設定の説明です。<br>
通常は、<br>
&lt;li class=&quot;menuimg menu2&quot;&gt;<br>
のようになっていますがこれを、<br>
&lt;li class=&quot;menuimg menu2 <span class="color1">current</span>&quot;&gt;<br>
とする事で色がつきます。自動で色がつくわけではないのでご注意下さい。<br>
マウスオン時の設定はstyle.cssの<br>
header:hover #menubar li a:hover<br>
が設定箇所です。</p>

<h3>画面右下に出る「↑」アイコンについて</h3>
<p>当テンプレートでは画面の高さを100%にしているので、リンク先を「#」だけではページの上部に戻りません。必ずmainブロックの最初のブロックにid=&quot;pagetop&quot;を記載して下さい。そこにジャンプします。<br>
通常は、最初のsectionブロックに追加し、<br>
&lt;section id=&quot;pagetop&quot;&gt;<br>
とすればOKですが、当ページのように最初のブロックに背景色などがついている場合は形が崩れるので、その上の行にでも、<br>
&lt;span id=&quot;pagetop&quot;&gt;&lt;/span&gt;<br>
の１行を新規で追加してあげて下さい。あと、トップページ（index.html）も最初のブロックに既にid値がついているので、同じようにspanタグで１行追加してあげて下さい。<br>
よく分からない場合は、id=&quot;pagetop&quot;がどう指定されているか実際にhtml側で確認してみて下さい。</p>

</section>

<footer>
<small>Copyright&copy; <a th:href="@{/}">SAMPLE SITE</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#main-->

</div>
<!--/#contents-->

</div>
<!--/#container-->

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#pagetop">↑</a></p>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>

<!--メニューの開閉処理条件設定　800px以下-->
<script>
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

</body>
</html>
