<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>社内図書館　e-Library</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link th:href="@{/css/style.css}" rel="stylesheet" href="css/style.css">
<link th:href="@{/css/print.css}" rel="stylesheet" href="css/print.css" media="print">
<script src="js/openclose.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<style>
.menu1 a {background-position: -10px -10px;}
.menu2 a {background-position: -10px -130px;}
.menu3 a {background-position: -10px -250px;}
.menu4 a {background-position: -10px -370px;}
.menu5 a {background-position: -10px -490px;}
</style>
<![endif]-->
</head>


<body class="works">

<div id="container">

<!--PC用（801px以上端末）で表示させるブロック-->
<header class="pc">

	<h1 class="logo"><a th:href="@{/}"><img src="images/icon-logo.png" alt="SAMPLE SITE"></a></h1>

	<!--PC用（801px以上端末）メニュー-->
	<nav id="menubar">
	<ul>
	<li class="menuimg menu1"><a th:href="@{/}"><span>Home</span></a></li>
	<li class="menuimg menu2"><a th:href="@{/company}"><span>Company</span></a></li>
	<li class="menuimg menu3 current"><a th:href="@{/works}"><span>トップ画面</span></a></li>
	<li class="menuimg menu4"><a th:href="@{/link}"><span>Links</span></a></li>
	<li class="menuimg menu5"><a th:href="@{/contact}"><span>Contact</span></a></li>
	</ul>
	</nav>

</header>
<!--/.pc-->

<!--小さな端末用（800px以下端末）で表示させるブロック-->
<header class="sh">

	<h1 class="logo"><a href="index.html"><img src="images/icon-logo.png" alt="SAMPLE SITE"></a></h1>

	<!--小さな端末用（800px以下端末）メニュー-->
	<div id="menubar-s">
	<nav>
	<ul>
	<li class="menuimg menu1"><a th:href="@{/}"><span>Home</span></a></li>
	<li class="menuimg menu2"><a th:href="@{/company}"><span>Company</span></a></li>
	<li class="menuimg menu3 current"><a th:href="@{/works}"><span>トップ画面</span></a></li>
	<li class="menuimg menu4"><a th:href="@{/link}"><span>Links</span></a></li>
	<li class="menuimg menu5"><a th:href="@{/contact}"><span>Contact</span></a></li>
	</ul>
	</nav>
	
	</div>
	<!--/#menubar-s-->

</header>
<!--/.sh-->

<div id="contents">

<div id="main">

<section id="pagetop">

<h2 class="title">TOP<span>社員個人閲覧履歴</span></h2>
<p>ここで、あなたの閲覧履歴が表示されます。検索する際に、キーワードもしくはジャンルから検索してください。<br>

<div class="list">
<a th:href="@{/works2}">
<figure><img src="images/icon-logo.png" alt=""></figure>
<h4>タイトル</h4>
</a>
</div>

<div class="list">
<a th:href="@{/works2}">
<figure><img src="images/icon-logo.png" alt=""></figure>
<h4>タイトル</h4>
</a>
</div>

<div class="list">
<a th:href="@{/works2}">
<figure><img src="images/icon-logo.png" alt=""></figure>
<h4>タイトル</h4>
</a>
</div>

<div class="list">
<figure><img src="images/icon-logo.png" alt=""></figure>
<h4>タイトル</h4>
</div>

<div class="list">
<figure><img src="images/icon-logo.png" alt=""></figure>
<h4>タイトル</h4>
</div>

<div class="list">
<figure><img src="images/icon-logo.png" alt=""></figure>
<h4>タイトル</h4>
</div>

</section>

<section>



<section>

<h2>clear指定した例</h2>

<div class="list">
<figure><img src="images/sample2.jpg" alt=""></figure>
<h4>タイトル</h4>
</div>

<div class="list">
<figure><img src="images/sample3.jpg" alt=""></figure>
<h4>タイトル</h4>
</div>

<p class="clear">ブロックにclass=&quot;clear&quot;を指定するとこのように回り込みを解除できます。<br>
尚、h2やh3の見出しにはあらかじめclear指定が入っているのでこの指定がなくても問題ありません。<br>
サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。</p>

</section>

<footer>
<small>Copyright&copy; <a href="index.html">SAMPLE SITE</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#main-->

</div>
<!--/#contents-->

</div>
<!--/#container-->

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#pagetop">↑</a></p>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>

<!--メニューの開閉処理条件設定　800px以下-->
<script>
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

</body>
</html>
