<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>企業・ビジネスサイト向け 無料ホームページテンプレート tp_biz52</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link th:href="@{/css/style.css}" rel="stylesheet" href="css/style.css">
<link th:href="@{/css/print.css}" rel="stylesheet" href="css/print.css" media="print">
<script src="js/openclose.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<style>
.menu1 a {background-position: -10px -10px;}
.menu2 a {background-position: -10px -130px;}
.menu3 a {background-position: -10px -250px;}
.menu4 a {background-position: -10px -370px;}
.menu5 a {background-position: -10px -490px;}
</style>
<![endif]-->
</head>

<body class="works">

<div id="container">

<!--PC用（801px以上端末）で表示させるブロック-->
<header class="pc">

	<h1 class="logo"><a th:href="@{/}"><img src="images/logo.png" alt="SAMPLE SITE"></a></h1>

	<!--PC用（801px以上端末）メニュー-->
	<nav id="menubar">
	<ul>
	<li class="menuimg menu1"><a th:href="@{/}"><span>Home</span></a></li>
	<li class="menuimg menu2"><a th:href="@{/company}"><span>Company</span></a></li>
	<li class="menuimg menu3 current"><a th:href="@{/works}"><span>Works</span></a></li>
	<li class="menuimg menu4"><a th:href="@{/link}"><span>Links</span></a></li>
	<li class="menuimg menu5"><a th:href="@{/contact}"><span>Contact</span></a></li>
	</ul>
	</nav>
	<ul class="icon">
	<li><a href="#"><img src="images/icon_facebook.png" alt="Facebook"></a></li>
	<li><a href="#"><img src="images/icon_twitter.png" alt="Twitter"></a></li>
	<li><a href="#"><img src="images/icon_instagram.png" alt="Instagram"></a></li>
	<li><a href="#"><img src="images/icon_youtube.png" alt="YouTube"></a></li>
	</ul>

</header>
<!--/.pc-->

<!--小さな端末用（800px以下端末）で表示させるブロック-->
<header class="sh">

	<h1 class="logo"><a th:href="@{/}"><img src="images/logo.png" alt="SAMPLE SITE"></a></h1>

	<!--小さな端末用（800px以下端末）メニュー-->
	<div id="menubar-s">
	<nav>
	<ul>
	<li class="menuimg menu1"><a th:href="@{/}"><span>Home</span></a></li>
	<li class="menuimg menu2"><a th:href="@{/company}"><span>Company</span></a></li>
	<li class="menuimg menu3 current"><a th:href="@{/works}"><span>Works</span></a></li>
	<li class="menuimg menu4"><a th:href="@{/link}"><span>Links</span></a></li>
	<li class="menuimg menu5"><a th:href="@{/contact}"><span>Contact</span></a></li>
	</ul>
	</nav>
	<ul class="icon">
	<li><a href="#"><img src="images/icon_facebook.png" alt="Facebook"></a></li>
	<li><a href="#"><img src="images/icon_twitter.png" alt="Twitter"></a></li>
	<li><a href="#"><img src="images/icon_instagram.png" alt="Instagram"></a></li>
	<li><a href="#"><img src="images/icon_youtube.png" alt="YouTube"></a></li>
	</ul>
	
	</div>
	<!--/#menubar-s-->

</header>
<!--/.sh-->

<div id="contents">

<div id="main">

<article id="pagetop">

<h2 class="title">Works<span>業務内容</span></h2>

<figure class="c mb30">
<img src="images/sample1_big.jpg" alt="写真の説明を入れます">
</figure>

<table class="ta1">
<caption>見出しが必要であればここを使います</caption>
<tr>
<th>サンプル見出し</th>
<td>サンプルテキスト。</td>
</tr>
<tr>
<th>サンプル見出し</th>
<td>サンプルテキスト。</td>
</tr>
<tr>
<th>サンプル見出し</th>
<td>サンプルテキスト。</td>
</tr>
<tr>
<th>サンプル見出し</th>
<td>サンプルテキスト。</td>
</tr>
<tr>
<th>サンプル見出し</th>
<td>サンプルテキスト。</td>
</tr>
</table>

</article>

<p><a href="javascript:history.back()">&lt;&lt; 前のページに戻る</a></p>

<footer>
<small>Copyright&copy; <a th:href="@{/}">SAMPLE SITE</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#main-->

</div>
<!--/#contents-->

</div>
<!--/#container-->

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#pagetop">↑</a></p>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>

<!--メニューの開閉処理条件設定　800px以下-->
<script>
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

</body>
</html>
